﻿@model ProAlert.Andon.Service.Models.AndonDisplayData
@{ Layout = ""; }
@Styles.Render("~/Content/css")
<style>
    .lblDT {
        color: red;
        float: left;
    }

    .lblNonDT {
        float: left;
        color: yellow;
    }

    .lblyDT {
        float: left;
        color: green;
    }

    .lblgOK {
        float: left;
        color: green;
    }

    body {
        background-color: black;
    }

    th {
        color: white;
        padding-left: 20px;
        width: 250px;
    }

    table, th, td {
        font-size: 60px;
        border: 2px solid white;
    }

    #whole {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .AndonDispImg {
        width: 100%;
    }

    .pause {
    }
</style>

<div id="adTable">
    @*@{ Html.RenderPartial("_AndonDisplay");}*@
    <table style="width: 100%">
        <tr>
            <th class="pause">Maintenance</th>
            <td id="Maint"></td>
        </tr>
        <tr>
            <th>QC Tech</th>
            <td id="QC"></td>
        </tr>
        <tr>
            <th>Materials</th>
            <td id="Mat"></td>
        </tr>
        <tr>
            <th>Advisory</th>
            <td><div id="Time" style='color: white; padding-left:1em;'></div><div id="Advis"></div></td>
        </tr>

    </table>
</div>

<script>
    document.title = "Andon Display Shop floor";
</script>
<!--Script references. -->
<!--Reference the jQuery library. -->
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<!--Reference the SignalR library. -->
<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
<!--Reference the autogenerated SignalR hub script. -->
<script src="~/signalr/hubs"></script>
<!--Reference the StockTicker script. -->
<script src="~/Scripts/AndonDisplay.js"></script>


