﻿@model ProAlert.Andon.Service.Models.AndonDisplayData
@using Vistech.Andon.Web.helpers

<table id="adTable" style="width: 100%">
    <tr>
        <th class="pause">Maintenance</th>
        <td id="Maint">@Html.Raw(@Model.Maintenance.message)</td>
    </tr>
    <tr>
        <th>Supervisor</th>
        <td id="QC">@Html.Raw(@Model.QC.message)</td>
    </tr>
    <tr>
        <th>Materials</th>
        <td id="Mat">@Html.Raw(@Model.Materials.message)</td>
    </tr>
    <tr>
        <th>Advisory</th>
        @if (Model.Advisory.message.Length > 0)
        {
            <td id="advisory">
                @Html.Raw(Model.Advisory.message)
            </td>
        }
        else
        {
            <td id="clock">
                <div style="float: left; color: white; padding-left: 1em;" id="wcClock"><b>@DateTime.Now.ToString("d") @DateTime.Now.ToString("HH:mm:ss")</b></div>
            </td>
        }
    </tr>

</table>

@{
    if (Model.Maintenance.Image != null)
    {
    <div id="MaintenanceImg" class="AndonDispImg">@Html.Image(Model.Maintenance.Image)</div>
    }
    if (Model.QC.Image != null)
    {
    <div id="QCImage" class="AndonDispImg">@Html.Image(Model.QC.Image)</div>
    }
    if (Model.Materials.Image != null)
    {
    <div id="MaterialImg" class="AndonDispImg">@Html.Image(Model.Materials.Image)</div>
    }
    if (Model.Advisory.Image != null)
    {
    <div id="AdvisoryImg" class="AndonDispImg">@Html.Image(Model.Advisory.Image)</div>
    }
}
