﻿@model IEnumerable<ProAlert.Andon.Service.Models.CallLog>
<style>
    #callLog th {
        width: 200px;
    }

    .call th, td {
        color: black;
        text-align: left;
        padding-left: 1em;
    }
</style>
@{
    if (Model == null)
    {
    <p>No Calls</p>
    }
    var summaryStart = ViewBag.userDt;

    foreach (var dr in Model)
    {


        if (dr.Call.DT && (dr.ResolveDt ?? DateTime.UtcNow) > summaryStart)
        {
            
    <table id="callLog" class="call">
        <tr>
            <th>Last Edit by</th>
            <td>@Html.DisplayFor(model => dr.Employee.FullName)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => dr.Call.Name)</th>
            <td>@Html.DisplayFor(model => dr.Call.Name)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => dr.InitiateDt)</th>
            <td>
                @{ var date = dr.DispInitiateDt((TimeZoneInfo)Session["tzi"]); }
                @Html.DisplayFor(modelItem => date)
            </td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => dr.ResponseDt)</th>
            <td>
                @{ var rDate = dr.DispResponseDt((TimeZoneInfo)Session["tzi"]); }
                @Html.DisplayFor(modelItem => rDate)
            </td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => dr.ResolveDt)</th>
            <td>
                @{ var resDate = dr.DispResolveDt((TimeZoneInfo)Session["tzi"]); }
                @Html.DisplayFor(model => resDate)
            </td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => dr.Issue.Name)</th>
            <td>@Html.DisplayFor(model => dr.Issue.Name) <input type="button" value="History"/></td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => dr.SubCategory.Name)</th>
            <td>@Html.DisplayFor(model => dr.SubCategory.Name) <input type="button" value="History"/></td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => dr.Resolution)</th>
            <td>@Html.DisplayFor(model => dr.Resolution)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => dr.OperatorNotes)</th>
            <td>@Html.DisplayFor(model => dr.OperatorNotes)</td>
        </tr>
        <tr>
            <th>Include in Work Order</th>
            <td>
                <input type="checkbox" name="callCHKBX" id="@dr.Id"/></td>
        </tr>
    </table>
    <div style="padding-top: 1px; width: auto; background-color: black; height: 1px;"></div>
        }

    }
}