﻿@using Vistech.Andon.Web.helpers
@model IEnumerable<ProAlert.Andon.Service.Models.Scrap>
<style>
    .red-cell {
        background: red;
    }

    #defectLocator tr td {
        border: hidden;
        padding: 0;
        font-size: 2px;
    }

    .Scrap th, td {
        color: black;
        text-align: left;
        padding-left: 1em;
    }
</style>
@{
    var summaryStart = ViewBag.userDt;

    foreach (var dr in Model)
    {
        if (dr.ScrapDT > summaryStart)
        {
            var d = dr.DispScrapDt((TimeZoneInfo)Session["tzi"]); 
            <table id="@dr.Id" class="Scrap">
                <tr>
                    <th>Last Edit by</th>
                    <td>@Html.DisplayFor(model => dr.Employee.FullName)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(model => dr.ScrapDT)</th>
                    <td>@Html.DisplayFor(modelItem => d)</td>
                </tr>
                @if (dr.ScrapCount > 1)
                {
                    <tr>
                        <th>@Html.LabelFor(model => dr.ScrapCount)</th>
                        <td>@Html.DisplayFor(model => dr.ScrapCount)</td>
                    </tr>
                }
                <tr>
                    <th>@Html.LabelFor(model => dr.Notes)</th>
                    <td>@Html.DisplayFor(model => dr.Notes)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(model => dr.ScrapType.Name)</th>
                    <td>@Html.DisplayFor(model => dr.ScrapType.Name)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(model => dr.LastStage.Name)</th>
                    <td>@Html.DisplayFor(model => dr.LastStage.Name)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(model => dr.RejectCode.Name)</th>
                    <td>@Html.DisplayFor(model => dr.RejectCode.Name)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(model => dr.DefectLocation)</th>
                    <td>@Html.TextAreaFor(model => dr.DefectLocation)</td>
                </tr>
                <tr>
                    <th>Include in Work Order</th>
                    <td><input type="checkbox" name="scrapCHKBX" id="WO @dr.Id"/></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table id="defectLocator" style="width:320px; height:240px; padding:0; font-size:2px;" background="@Html.ImageString(dr.Product.Image)">
                            @{
                                var cnt = 0;
                                for (var i = 1; i <= 20; i++)
                                {
                                    @:<tr>
                                    for (var j = 0; j <= 19; j++)
                                    {
                                        cnt += 1;
                                        @:<td class="loc" id="@dr.Id@cnt"></td>
                                    }
                                    @:</tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
            </table>
        <div style="padding-top: 1px; width: auto; background-color: black; height: 1px;"></div>

        }
    }
}

<script>
    $(document).ready(function () {
        $(".Scrap").each(function () {
            var tbid = $(this).attr('id');
            var arr = $(this).find("#dr_DefectLocation").val().split(',');
            $.each(arr, function (index, value) {
                $('.loc').each(function () {
                    var loc = tbid + value.trim();
                    //alert(loc);
                    if ($(this).attr('id') == loc) {
                        $(this).toggleClass('red-cell');
                    }
                });
            });
        });
    });
</script>
