﻿@model ProAlert.Andon.Service.ViewModels.ScrapEntryVM

@using (Html.BeginForm("InsertScrap", "WC", FormMethod.Post, new {id = "sqTarget"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Scrap</legend>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Scrap.ScrapCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Scrap.ScrapCount)
            @Html.ValidationMessageFor(model => model.Scrap.ScrapCount)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Scrap.ScrapTypeID)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Scrap.ScrapTypeID, new SelectList(Model.ScrapTypes, "Id", "Name", @Model.ScrapTypes.Single(x => x.Default).Id))
        </div>
        @Html.HiddenFor(model => model.Scrap.WorkCenterID)
        @Html.HiddenFor(model => model.Scrap.ProductID)
    </fieldset>
}