﻿@model ProAlert.Andon.Service.Models.Cycle

@using (Html.BeginForm("CreateCycles", "WC", FormMethod.Post, new {id = "mcTarget"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="manualCycles"></div>
    <fieldset>
        <legend>Manual Cycles</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Count)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Count, new { autofocus = true })
            @Html.ValidationMessageFor(model => model.Count)
        </div>

        <div class="btn-Panel nonAjax">
            <input type="submit" value="Save" class="button" />
        </div>
        @Html.HiddenFor(x => x.WorkCenterID)
    </fieldset>
}