﻿@using ProAlert.Andon.Service.Common
@model IEnumerable<ProAlert.Andon.Service.ViewModels.DrillDownIIVM>
@{
    var listOEE = new List<decimal>();
    var targetList = new List<decimal>();
}

<table id="oeeSummary" style="width:1400px">
    <tr>
        <th style="text-align:left; padding-left: 5px;">WC/Product(Cycles/Min)</th>
        <th style="text-align:center">Planned(Oper)</th>
        <th style="text-align:center">Down</th>
        <th style="text-align:center">Last Down</th>
        <th style="text-align:center">Scrap</th>
        <th style="text-align:center">Target/Actual</th>
        <th style="text-align:center">Availability</th>
        <th style="text-align:center">Performance</th>
        <th style="text-align:center">Quality</th>
        <th style="text-align:center">OEE</th>
    </tr>
    @{
        foreach (var dr in Model.OrderByDescending(x => x.TL.Current).ThenBy(x => x.OEE))
        {
            listOEE.Add(dr.TL.OEE);
            var color = dr.TL.PlannedDt ? "lightblueCell" : dr.TL.UnplannedDt ? "redCell" : "lightgreenCell";
            var scrap = dr.TL.Mfg > 0 ? "MFG: " + dr.TL.Mfg : string.Empty;
            scrap += dr.TL.Matl > 0 ? " Matl: " + dr.TL.Matl : string.Empty;
            scrap += dr.TL.Other > 0 ? " Other: " + dr.TL.Other : string.Empty;
            scrap += dr.TL.Rework > 0 ? " Rework: " + dr.TL.Rework : string.Empty;

            color = !dr.TL.Current ? "greenCell" : color;

            if (dr.TL.ProductWcStatsHistory != null)
            {
                if (dr.TL.ProductWcStatsHistory.OEE != 1)
                {
                    targetList.Add(dr.TL.ProductWcStatsHistory.OEE);
                }
                <tr id="@dr.CacheID">
                    <td title="OEE timeframe:&#013; @(timeconversions.UTCtoClient((TimeZoneInfo) Session["tzi"], dr.Start).ToString("M/dd/yyyy HH:mm:ss")) &#013; - @timeconversions.UTCtoClient((TimeZoneInfo) Session["tzi"], dr.Stop).ToString("M/dd/yyyy HH:mm:ss")" class="@color" style="padding-left: 3px;">@dr.TL.WCProduct ( @dr.CyclesPerMin.ToString("N0") )</td>
                    <td class="@color" style="text-align: center">@((dr.TL.PlannedProduction / 60000).ToString("N0")) ( @((dr.TL.OperationTime / 60000).ToString("N0")) )</td>
                    <td class="@color" style="text-align: center">@dr.TL.TotalDTInMin.ToString("N1")</td>
                    <td class="@color" style="text-align: center">@dr.TL.LastDTReason</td>
                    <td class="@color" style="text-align: center" title="@scrap">@dr.TL.ScrapOneNumber.ToString("N0")</td>
                    <td class="@color" style="text-align: center">@dr.PieceCnt</td>
                    <td class="@(dr.TL.Availability < dr.TL.ProductWcStatsHistory.Available ? "redCell" : "greenCell")" style="text-align: center">@dr.TL.Availability.ToString("P1")</td>
                    <td class="@(dr.TL.Performance < dr.TL.ProductWcStatsHistory.Performance ? "redCell" : "greenCell")" style="text-align: center">@dr.TL.Performance.ToString("P1")</td>
                    <td class="@(dr.TL.Quality < dr.TL.ProductWcStatsHistory.Quality ? "redCell" : "greenCell")" style="text-align: center">@dr.TL.Quality.ToString("P1")</td>
                    <td class="@(dr.TL.OEE < dr.TL.ProductWcStatsHistory.OEE ? "redCell" : "greenCell")" style="text-align: center">@dr.TL.OEE.ToString("P1")</td>
                </tr>
            }
            else
            {
                <tr id="@dr.CacheID">
                    <td title="OEE timeframe:&#013; @(timeconversions.UTCtoClient((TimeZoneInfo) Session["tzi"], dr.Start).ToString("M/dd/yyyy HH:mm:ss")) &#013; - @timeconversions.UTCtoClient((TimeZoneInfo) Session["tzi"], dr.Stop).ToString("M/dd/yyyy HH:mm:ss")" class="@color" style="padding-left: 3px;">@dr.TL.WorkCenter.Name</td>
                    <td class="@color" style="text-align: center">N/A</td>
                    <td class="@color" style="text-align: center">N/A</td>
                    <td class="@color" style="text-align: center">Product Change Over</td>
                    <td class="@color" style="text-align: center">N/A</td>
                    <td class="@color" style="text-align: center">N/A</td>
                    <td class="greenCell" style="text-align: center">N/A</td>
                    <td class="greenCell" style="text-align: center">N/A</td>
                    <td class="greenCell" style="text-align: center">N/A</td>
                    <td class="greenCell" style="text-align: center">N/A</td>
                </tr>
            }

        }
        var oColor = listOEE.Count == 0 || targetList.Count == 0 ? "white" : listOEE.Average() < targetList.Average() ? "red" : "white";
    }
    
    <tr><td colspan="10" style="text-align:center; font-size:50px; color: @oColor;"><b>Total OEE:  @(listOEE.Count == 0 ? 0.ToString("P1") : listOEE.Average().ToString("P1"))</b></td></tr>
    <tr><td colspan="10" style="text-align:center; font-size:35px; color: white;">ProAlert Target OEE: @(targetList.Count == 0 ? "100%" : targetList.Average().ToString("P1"))</td></tr>
    <tr><td colspan="10" style="text-align:center"><div style="color: white;" id="wcClock"><b>@(timeconversions.UTCtoClient((TimeZoneInfo)Session["tzi"], DateTime.UtcNow).ToString("d")) @(timeconversions.UTCtoClient((TimeZoneInfo)Session["tzi"], DateTime.UtcNow).ToString("HH:mm:ss"))</b></div></td></tr>
</table>
