﻿@model Vistech.Andon.Service.ViewModels.OEESummaryVM

<table>
    <tr><th>@Html.LabelFor(model=>model.Performance)</th><td>@Model.Performance.ToString("P1")</td></tr>
    <tr><th>@Html.LabelFor(model=>model.Availablity)</th><td>@Model.Availablity.ToString("P1")</td></tr>
    <tr><th>@Html.LabelFor(model=>model.Quality)</th><td>@Model.Quality.ToString("P1")</td></tr>
    <tr><th>@Html.LabelFor(model=>model.OEE)</th><td>@Model.OEE.ToString("P1")</td></tr>
</table>