﻿@model ProAlert.Andon.Service.ViewModels.PlannedDtLogVM

@using (Html.BeginForm("StartPlannedDt", "WC", FormMethod.Post, new { id = "pdtTarget"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <fieldset>
        <legend>PlannedDt</legend>
       
        <div class="editor-label">
            @Html.LabelFor(model => model.PlannedDtLog.PlannedDtID, "Planned Downtime Event")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.PlannedDtLog.PlannedDtID, new SelectList(Model.PlannedDts, "Id", "Name", Model.PlannedDtLog.PlannedDtID)) <br/>
            @Html.ValidationMessageFor(model=>model.PlannedDtLog.PlannedDtID)
        </div>

        @Html.HiddenFor(model => model.PlannedDtLog.WorkCenterID)
    </fieldset>
}
