﻿@model ProAlert.Andon.Service.Models.ScrapType

@using (Html.BeginForm("ScrapTypeCreate", "Scrap", FormMethod.Post, new {id = "stTarget"})) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="update-message"></div>
    <fieldset>
        <legend>ScrapType</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="btn-Panel nonAjax">
            <input type="submit" value="Save" class="button" />
        </div>
    </fieldset>
}



