﻿@model ProAlert.Andon.Service.Models.SubCategory

@using (Html.BeginForm("SubCategoryCreate", "Issue", FormMethod.Post, new { id = "subTarget" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="update-message"></div>
    <fieldset>
        <legend>SubCategory</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="btn-Panel nonAjax">
            <input type="submit" value="Save" class="button" />
        </div>

    </fieldset>
}