﻿@model IEnumerable<ProAlert.Andon.Service.Models.WorkCenter>
@{ Layout = ""; }
@Styles.Render("~/Content/css")
@*<script src="~/Scripts/jquery-3.1.1.min.js"></script>*@
<link href="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />

<style>
    #whole {
        position: relative;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .wc-list {
        cursor: pointer;
    }

    .ajax_loader {background: url("/Content/spinner_squares_circle.gif") no-repeat center center transparent;width:100%;height:100%;}
    .blue-loader .ajax_loader {
        background: url("/Content/spinner_squares_circle.gif") no-repeat center center transparent;
    }
</style>
<body>
    <div style="float:left; background-color:white;" id="wcClock"><b></b></div>
    <div id="tzConversion" title="Add Timezone Conversion"></div>
    <div id="whole">
        <h1>Choose your work center</h1>
            <table>
                <tr>
                @{
                    var cnt = 0;
                    foreach (var item in Model)
                    {
                        var c = string.Empty;
                        c = item.GuiRunning ? "wc-running" : "wc-list";

                        if (cnt++ % 3 == 0)
                        {
                            @:  </tr> <tr> 
                        }
                        @: <td> 
                        <div class=@c id="@item.Id">
                            @item.Name 
                        </div>
                        @:</td>
                    }
                    @: </tr>
                }
            </table>
    </div>
    <div id="ajaxResult" style="float: left; width: 150px; height: 20px"></div>

</body>
@*<body>
    <div style="float:left; background-color:white;" id="wcClock"><b></b></div>
    <div id="tzConversion" title="Add Timezone Conversion"></div>
    <div id="whole" class="btn-list">
        <h1>Choose your work center</h1>
        @using (Html.BeginForm())
        { 
            <table>
                <tr>
                @{
                    var cnt = 0;
                    foreach (var item in Model)
                    {
                        if (cnt++ % 3 == 0)
                        {
                            @:  </tr> <tr> 
                        }
                        @: <td> 
                        <div class="wc-list" id="@item.WorkCenterID">
                            @item.Name 
                        </div>
                        @:</td>
                    }
                    @: </tr>
                }
            </table>
        }
    </div>
    <div id="ajaxResult" style="float: left; width: 150px; height: 20px"></div>

</body>*@

<script>

    $(document).ready(function() {
        var box;
        var db = $(document.body);
        $('body').on('click', '.wc-list', function() {
            box = new ajaxLoader(db, { classOveride: 'blue-loader', bgColor: '#000', opacity: '0.3', duration: 800 }); //
            var url = '@Url.Action("WC", "WC", new {id = "_id"})';
            url = url.replace("_id", $(this).attr("id"));
            window.location.href = url;
        });

        window.onload = function() {
            startTime();
            setTzi();
        }

        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('wcClock').innerHTML = h + ":" + m + ":" + s;
            var t = setTimeout(function() { startTime(); }, 500);
        }

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }; // add zero in front of numbers < 10
            return i;
        }

        function setTzi() {
            var dt = new Date().toString();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SetTzi", "WC")',
                data: { webDate: dt },
                success: function(result) {
                    if (result) {
                        $("#ajaxResult").hide().html('Record saved').fadeIn(300, function() {
                            var e = this;
                            setTimeout(function() { $(e).fadeOut(400); }, 2500);
                        });
                    } else {
                        createTzConversion();
                    }
                },
                error: function() {
                    alert("Unable to set TZI");
                }
            });
        }

        function createTzConversion() {
            $("#tzConversion").dialog("open");
        }

        $("#tzConversion").dialog({
            autoOpen: false,
            width: 600,
            resizable: false,
            title: 'Add Timezone Conversion',
            modal: true,
            open: function() {
                var url = '@Url.Action("TzConversionCreate", "WC")';
                $(this).load(url);
            },
            buttons: {
                "Add": function(data) {
                    addTzConversionInfo(data);
                },
                Cancel: function() {
                    $(this).dialog("close");
                }
            }
        });

        function addTzConversionInfo() {
            var dlg = $("#tzConversion");
            $.ajax({
                type: "POST",
                url: '@Url.Action("TzConversionCreate", "WC")',
                data: $("#tzTarget").serialize(),
                success: function(data) {
                    $("#ajaxResult").hide().html('Record saved').fadeIn(300, function() {
                        var e = this;
                        setTimeout(function() { $(e).fadeOut(400); }, 2500);
                    });
                    dlg.dialog("close");
                },
                error: function(xhr) {
                    if (xhr.status == 400)
                        dlg.html(xhr.responseText, xhr.status); /* display validation errors in edit dialog */
                    else
                        displayError(xhr.responseText, xhr.status); /* display other errors in separate dialog */
                }
            });
        }

        function displayError(message, status) {
            var $dialog = $(message);
            $dialog
                .dialog({
                    modal: true,
                    title: status + ' Error',
                    buttons: {
                        Ok: function() {
                            $(this).dialog("close");
                        }
                    }
                });
            return false;
        };
    });

</script>
