﻿@model IEnumerable<ProAlert.Andon.Service.Models.ProductWorkCenterStat>
@using (Html.BeginForm("SelectProduct", "WC", FormMethod.Post))
{
    <fieldset>
        <legend>ProductSelect</legend>
        <table>
            <tr>
                <th>Product</th>
                <th></th>
                <th></th>
            </tr>
            @Html.DisplayFor(model => model)
        </table>
    </fieldset>
}
