﻿@using Vistech.Andon.Web.helpers
@model ProAlert.Andon.Service.Models.Product

<table style="width:100%; font-family: Arial; text-align:center;">
    <tr style="background-color:gold;">
        <td><b>PLEASE NOTE:</b> The Work Center must be in a <b><i>Product Change Over</i></b> downtime in order to change products.</td>
    </tr>
    <tr>
        <td>@Html.Image(Model.Image)</td>
    </tr>
    <tr>
        <td>Current WC Product: <b>@Model.Name</b></td>
    </tr>
</table>