﻿@model ProAlert.Andon.Service.ViewModels.WcStatsVM 


<table id="statsTable" style="width: 440px; background-color: lightgray; font-family: Arial;">
    <tr>
        <td style="text-align: right">Last Down Time Reason</td>
        <td style="width: 5px"></td>
        <td id ="lastDt"style="text-align: left">@Model.LastDTReason</td>
    </tr>
    <tr>
        <td style="text-align: right">Total Downtime</td>
        <td></td>
        <td id ="totalDt"style="text-align: left">@Model.TotalDTInMin</td>
    </tr>
    <tr>
        <td style="text-align: right">MFG Scrap (Matl)(other)</td>
        <td></td>
        <td id ="scrap" style="text-align: left">@Model.Scrap</td>
    </tr>
    <tr>
        <td style="text-align: right">Total Rework</td>
        <td></td>
        <td id ="rework" style="text-align: left">@Model.Rework.ToString("N0")</td>
    </tr>
    <tr>
        <td style="text-align: right">Piece Cnt T/A</td>
        <td></td>
        <td id ="pieceCnt" style="text-align: left">@Model.PieceCnt</td>
    </tr>
    <tr>
        <td style="text-align: right">Cycle/min T/A</td>
        <td></td>
        <td id="cycles" style="text-align: left">@Model.Cycles</td>
    </tr>
    <tr>
        <td style="text-align: right">Min Per Piece T/A</td>
        <td></td>
        <td id="minutesPerPiece" style="text-align: left">@Model.MinutesPerPiece</td>
    </tr>
    <tr>
        <td style="text-align: right">Total Operational Time</td>
        <td></td>
        <td id="operationTimeInMin" style="text-align: left">@Model.OperationTimeInMin.ToString("N1") min</td>
    </tr>
</table>
