﻿@model ProAlert.Andon.Service.Models.SubCategory

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>@ViewBag.Msg</h3>
<div>
    <h4>SubCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <p>
            @if (!ViewBag.Msg.Equals("Cannot delete."))
            {
                var pipe = "|";
                <input type="submit" value="Delete" /> @pipe
            }
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
</div>
