﻿@model ProAlert.Andon.Service.Models.ProductWorkCenterStat

@{
    ViewBag.Title = "Product/WC Stat Details";
}

<h2>Product/WC Stat Details</h2>

<fieldset>
    <legend>ProductWorkCenterStat</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.WorkCenter.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkCenter.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Product.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Product.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CyclesPerHour)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CyclesPerHour)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UnitsPerCycle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitsPerCycle)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Yield)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Yield)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.SetUpTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SetUpTime)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Available)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Available)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Performance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Performance)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Quality)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quality)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.AvailableCap)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AvailableCap)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.PerformanceCap)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PerformanceCap)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.QualityCap)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QualityCap)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
