﻿@model ProAlert.Andon.Service.Models.CallLog

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CallLog</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Call.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Call.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InitiateDt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitiateDt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ResponseDt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResponseDt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ResolveDt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResolveDt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WorkCenter.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkCenter.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Employee.LogIn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Employee.LogIn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Planned)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Planned)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Issue.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Issue.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Resolution)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Resolution)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OperatorNotes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OperatorNotes)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
