﻿@model ProAlert.Andon.Service.Models.CallLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CallLog</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Call.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Call.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InitiateDt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitiateDt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ResponseDt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResponseDt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ResolveDt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResolveDt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WorkCenter.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkCenter.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Employee.LogIn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Employee.LogIn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Planned)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Planned)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Issue.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Issue.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Resolution)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Resolution)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OperatorNotes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OperatorNotes)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
