﻿@model ProAlert.Andon.Service.Models.CallLog

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CallLog</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.CallID, "Call")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CallID", string.Empty)
            @Html.ValidationMessageFor(model => model.CallID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InitiateDt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InitiateDt)
            @Html.ValidationMessageFor(model => model.InitiateDt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ResponseDt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ResponseDt)
            @Html.ValidationMessageFor(model => model.ResponseDt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ResolveDt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ResolveDt)
            @Html.ValidationMessageFor(model => model.ResolveDt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WorkCenterId, "WorkCenter")
        </div>
        <div class="editor-field">
            @Html.DropDownList("WorkCenterId", string.Empty)
            @Html.ValidationMessageFor(model => model.WorkCenterId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeID, "Employee")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EmployeeID", string.Empty)
            @Html.ValidationMessageFor(model => model.EmployeeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Planned)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Planned)
            @Html.ValidationMessageFor(model => model.Planned)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IssueID, "Issue")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IssueID", string.Empty)
            @Html.ValidationMessageFor(model => model.IssueID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Resolution)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Resolution)
            @Html.ValidationMessageFor(model => model.Resolution)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OperatorNotes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OperatorNotes)
            @Html.ValidationMessageFor(model => model.OperatorNotes)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
