﻿@model IEnumerable<ProAlert.Andon.Service.Models.CallLog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Call.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitiateDt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResponseDt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResolveDt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkCenter.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.LogIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Planned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Issue.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resolution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperatorNotes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Call.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitiateDt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResponseDt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResolveDt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkCenter.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.LogIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Planned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Issue.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resolution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperatorNotes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
