﻿@model ProAlert.Andon.Service.Models.WorkCenter

@{
    ViewBag.Title = "Work Center Details";
}

<h2>Work Center Details</h2>

<fieldset>
    <legend>WorkCenter</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="display-label">
        @Html.Label("WC GUI Options")
        <hr />
    </div>
    <div class="display-field">
    </div>
    <div class="display-label">

    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkCenterGUIOptions)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
