﻿@model ProAlert.Andon.Service.Models.AudioFile

@{
    ViewBag.Title = "Delete AudioFile";
}

<h2>Delete AudioFile</h2>

<h3>@ViewBag.Msg</h3>
<fieldset>
    <legend>AudioFile</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

@*    <div class="display-label">
         @Html.DisplayNameFor(model => model.Path)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Path)
    </div>*@
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.RepeatCnt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RepeatCnt)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        @if (!ViewBag.Msg.Equals("Cannot delete."))
        {
            var pipe = "|";
            <input type="submit" value="Delete" /> @pipe
        }
        @Html.ActionLink("Back to List", "Index")
    </p>
}
