﻿@model ProAlert.Andon.Service.Models.AudioFile

@{
    ViewBag.Title = "Edit Audio File";
}

<h2>Edit Audio File</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AudioFile</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Name)
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Name)
        </div>

@*        <div class="editor-label">
            @Html.LabelFor(model => model.Path)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Path)
            @Html.ValidationMessageFor(model => model.Path)
        </div>*@
        
        <div class="editor-label">
            @Html.LabelFor(model => model.RepeatCnt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RepeatCnt)
            @Html.ValidationMessageFor(model => model.RepeatCnt)
        </div>
        <div class="editor-label"> </div>
        <div class="editor-field">
            <input type="file" id="uploadFile" name="uploadFile" />
        </div>

        <div style="float: left; clear: both">
            <input type="submit" value="Save" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
