﻿@model IEnumerable<ProAlert.Andon.Service.Models.AudioFile>

@{
    ViewBag.Title = "Audio File Index";
}

<h2>Audio File Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
@*        <th>
            @Html.DisplayNameFor(model => model.Path)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.RepeatCnt)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.RepeatCnt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
