﻿@model ProAlert.Andon.Service.Models.Product

@{
    ViewBag.Title = "Create Product";
}

<h2>Create Product</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Product</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Material)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Material)
            @Html.ValidationMessageFor(model => model.Material)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.StandardPack)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StandardPack)
            @Html.ValidationMessageFor(model => model.StandardPack)
        </div>
        <div class="editor-label">@Html.Label("Select Image")</div>
        <div class="editor-field">
            <input type="file" id="uploadFile" name="uploadFile" /></div>
        <div class="editor-label">@Html.LabelFor(model => model.Image)</div>
        <div class="editor-field">
            <img src="about:blank" id="previewimg" alt="">
        </div>
        <div style="float: left; clear: both">
            <input type="submit" value="Create" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    function loadname(img) {

        var isIE = (navigator.appName == "Microsoft Internet Explorer");
        var path = img.value;
        var ext = path.substring(path.lastIndexOf('.') + 1).toLowerCase();

        if (ext == "gif" || ext == "jpeg" || ext == "jpg" || ext == "png") {
            if (isIE) {
                $('#perviewimg').attr('src', path);
            } else {
                if (img.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#previewimg').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(img.files[0]);
                }
            }

        } else {
            alert("incorrect file type");
        }
    }

    function PreviewImage() {
        alert("preview");
    }

    $("#uploadFile").change(function () {
        loadname(this);
    });

    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }
</script>
