﻿@using Vistech.Andon.Web.helpers
@model ProAlert.Andon.Service.Models.Product

@{
    ViewBag.Title = "Delete Product";
}

<h2>Delete Product</h2>

<h3>@ViewBag.Msg</h3>
<fieldset>
    <legend>Product</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Material)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Material)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.StandardPack)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StandardPack)
    </div>

    <div class="editor-label">
        @Html.Image(Model.Image)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        @if (!ViewBag.Msg.Equals("Cannot delete."))
        {
            var pipe = "|";
            <input type="submit" value="Delete" /> @pipe
        }
        @Html.ActionLink("Back to List", "Index")
    </p>
}
