﻿@using Vistech.Andon.Web.helpers
@model ProAlert.Andon.Service.Models.Product

@{
    ViewBag.Title = "Product Details";
}

<h2>Product Details</h2>

<fieldset>
    <legend>Product</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Material)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Material)
    </div>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.StandardPack)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StandardPack)
    </div>
    <div class="editor-label">
        @Html.Image(Model.Image)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
