﻿@model ProAlert.Andon.Service.Models.Employee

@{
    ViewBag.Title = "Delete Employee";
}

<h2>Delete Employee</h2>

<h3>@ViewBag.Msg</h3>
<fieldset>
    <legend>Employee</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Position.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Position.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TerminationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TerminationDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LogIn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LogIn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cell)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cell)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FullName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        @if (!ViewBag.Msg.Equals("Cannot delete."))
        {
            var pipe = "|";
            <input type="submit" value="Delete" /> @pipe
        }
        @Html.ActionLink("Back to List", "Index")
    </p>
}
