﻿@model ProAlert.Andon.Service.ViewModels.EmployeeVM

@{
    ViewBag.Title = "Edit Employee";
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

<script src="~/Scripts/jquery.inputmask/jquery.inputmask-3.0.55.js"></script>
<script src="~/Scripts/jquery.inputmask/jquery.inputmask.extensions-3.0.55.js"></script>
<script>
    $(document).ready(function () {
        $("#Employee_Cell").inputmask('(999) 999-9999');
        //$("#Email").inputmask('email');
        $(":input[id$='Date']").datepicker();
        //$("#PositionID").change(function () {
        //    document.getElementById("Pos").value = $('option:selected', this).text();
        //});
    });
</script>

<h2>Edit Employee</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Employee</legend>

        @Html.HiddenFor(model => model.Employee.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.PositionID, "Position")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Employee.PositionID, new SelectList(Model.Positions, "Id", "Title"), "<-- Select Position -->" )
            <button id="AddPosition">Add Position</button>
            @Html.ValidationMessageFor(model => model.Employee.PositionID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.HireDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Employee.HireDate)
            @Html.ValidationMessageFor(model => model.Employee.HireDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.TerminationDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Employee.TerminationDate)
            @Html.ValidationMessageFor(model => model.Employee.TerminationDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.LogIn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.LogIn)
            @Html.ValidationMessageFor(model => model.Employee.LogIn)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.Pin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.Pin)
            @Html.ValidationMessageFor(model => model.Employee.Pin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.FirstName)
            @Html.ValidationMessageFor(model => model.Employee.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.LastName)
            @Html.ValidationMessageFor(model => model.Employee.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.Cell)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.Cell)
            @Html.ValidationMessageFor(model => model.Employee.Cell)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.Email)
            @Html.ValidationMessageFor(model => model.Employee.Email)
        </div>
                
        <div class="editor-label">
            @Html.LabelFor(model => model.Employee.TimeZone)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Employee.TimeZone, Model.TimeZones)
            @Html.ValidationMessageFor(model => model.Employee.TimeZone)
        </div>

        <div id="AddPositionForm" title="Add Position"></div>

        <input type="hidden" name="Pos" id="Pos" value =""/>
        <div style="float: left; clear: both">
            <input type="submit" value="Save" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>

    $('#AddPosition').on('click', function () {
        $("#AddPositionForm").dialog("open");
        return false;
    });

    $("#AddPositionForm").dialog({
        autoOpen: false,
        width: 400,
        resizable: false,
        title: 'Add Position Form',
        modal: true,
        open: function () {
            $(this).load('@Url.Action("PositionCreate")', function () {
                $("#Title").focus();
            });
        },
        buttons: {
            "Add Position": function () {
                addPositionInfo();
            },
            Cancel: function () {
                $(this).dialog("close");
            }
        }
    });

    function addPositionInfo() {
        var dlg = $("#AddPositionForm");
        $.ajax({
            url: '@Url.Action("PositionCreate", "Employee")',
            type: "POST",
            data: $("#target").serialize(),
            success: function (data) {
                if (data) {
                    var positionDdl = $("#Employee_PositionID");
                    positionDdl.empty();
                    $.each(data.sl, function (i, obj) {
                        positionDdl.append($('<option/>').val(obj.Value).text(obj.Text)).change();
                    });
                    positionDdl.val(data.idx);
                    dlg.dialog("close");
                    $("#ajaxResult").hide().html('Record saved').fadeIn(300, function () {
                        var e = this;
                        setTimeout(function () { $(e).fadeOut(400); }, 2500);
                    });
                }
            },
            error: function (xhr) {
                if (xhr.status == 400)
                    dlg.html(xhr.responseText, xhr.status);     /* display validation errors in edit dialog */
                else
                    displayError(xhr.responseText, xhr.status); /* display other errors in separate dialog */

            }
        });

    }


    function displayError(message, status) {
        var $dialog = $(message);
        $dialog
            .dialog({
                modal: true,
                title: status + ' Error',
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                }
            });
        return false;
    };

</script>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
