﻿@model ProAlert.Andon.Service.Models.Scrap

@{
    ViewBag.Title = "Delete Scrap";
}

<h2>Delete Scrap</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Scrap</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Id)
    </div>
    <div class="display-field">
        @{
            var id = Model.Id.ToString();
            if (id.Length > 2)
            {
                id = id.Substring(id.Length - 2);
            }
        }
        @Html.DisplayFor(modelItem => id)    
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.WorkCenter.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkCenter.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Product.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Product.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.LastStage.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastStage.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.RejectCode.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RejectCode.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ScrapType.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ScrapType.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ScrapDT)
    </div>
    <div class="display-field">
        @{ var d = Model.DispScrapDt((TimeZoneInfo)Session["tzi"]); }
        @Html.DisplayFor(modelItem => d)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ScrapCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ScrapCount)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" />
        |
        @Html.ActionLink("Back to List", "Filtered", new { WorkCenterID = Model.WorkCenterID })
    </p>
}
