﻿@{
    ViewBag.Title = "AndonDisplay";
}
@{ Layout = ""; }
<h2>AndonDisplay</h2>
@Styles.Render("~/Content/css")

<style>
    .pause { width: 85px; }

    .lblDT {
        color: red;
        float: left;
    }

    .lblNonDT {
        float: left;
        color: yellow;
    }

    .lblyDT {
        float: left;
        color: green;
    }

    .lblgOK {
        float: left;
        color: green;
    }

    body { background-color: black; }

    th { color: white; }

    table, th, td {
        font-size: 60px;
        font-family: "Arial";
        border: 2px solid white;
        padding-left: 5px;
        padding-right: 5px;
    }

    #adTable {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div id="adTable">
    <table style="width: 100%">
        <tr>
            <th class="pause">Maintenance</th>
            <td id="Maint"></td>
        </tr>
        <tr>
            <th>QC Tech</th>
            <td id="QC"></td>
        </tr>
        <tr>
            <th>Materials</th>
            <td id="Mat"></td>
        </tr>
        <tr>
            <th>Advisory</th>
            <td ><div id="Time" style='color: white; padding-left:1em;'></div><div id="Advis"></div></td>
        </tr>

    </table>
</div>
<!--Script references. -->
<!--Reference the jQuery library. -->
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<!--Reference the SignalR library. -->
<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
<!--Reference the autogenerated SignalR hub script. -->
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/AndonDisplay.js"></script>