﻿@model ProAlert.Andon.Service.Models.WorkCenterGUIOptions

@Html.HiddenFor(model => model.Id)

<div class="form-group">
    @Html.LabelFor(model => model.ManualCycles, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.EditorFor(model => model.ManualCycles)
            @Html.ValidationMessageFor(model => model.ManualCycles, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.SingleScrap, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.EditorFor(model => model.SingleScrap)
            @Html.ValidationMessageFor(model => model.SingleScrap, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

