﻿@{
    ViewBag.Title = "Bridge Software Technologies";
}
<h2>@ViewBag.Title.</h2>


<section class="contact">
    <img style="width: 80px; height: auto;" src="~/Images/bst_logo-crop-u72.png" />
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>513.227.3736</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>513.227.3736</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:jmikel@bridgesoftwaretechnologies.com">jmikel@bridgesoftwaretechnologies.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        9378 Mason Montgomery Rd<br />
        Ste 317<br />
        Mason, Oh 45040
    </p>
</section>