﻿@model ProAlert.Andon.Service.Models.ScrapType

@{
    ViewBag.Title = "Delete Scrap Type";
}

<h2>Delete Scrap Type</h2>

<h3>@ViewBag.Msg</h3>
<fieldset>
    <legend>ScrapType</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Default)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Default)
    </div>

</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        @if (!ViewBag.Msg.Equals("Cannot delete."))
        {
            var pipe = "|";
            <input type="submit" value="Delete" /> @pipe
        }    
        @Html.ActionLink("Back to List", "Index")
    </p>
}
