﻿@model ProAlert.Andon.Service.Models.ScrapType

@{
    ViewBag.Title = "Scrap Type Details";
}

<h2>Scrap Type Details</h2>

<fieldset>
    <legend>ScrapType</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Default)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Default)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
