﻿@model IEnumerable<ProAlert.Andon.Service.Models.ScrapType>

@{
    ViewBag.Title = "Scrap Type Index";
}

<h2>Scrap Type Index</h2>

<p>
    Please contact Bridge Software if you need additional scrap types
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>@Html.DisplayNameFor(model => model.Default)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Default)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) 
                @if (!item.Name.Equals("Material") && !item.Name.Equals("Manufacturing")
                        && !item.Name.Equals("Rework") && !item.Name.Equals("Other"))
            {
                var pipe = "|";
                @pipe @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            }
            
            </td>
        </tr>
    }

</table>
