﻿@model IEnumerable<ProAlert.Andon.Service.Models.PlannedDt>

@{
    ViewBag.Title = "Planned DT Index";
}

<h2>Planned DT Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id })
            
                @if (!item.Name.Equals("Product Change Over") && !item.Name.Equals("Lunch")
                    && !item.Name.Equals("Break") && !item.Name.Equals("End of Shift"))
                {
                    var pipe = "|";
                    @pipe @Html.ActionLink("Delete", "Delete", new {id = item.Id}) 
                } 
                
        </td>
    </tr>
}

</table>
