﻿@model ProAlert.Andon.Service.Models.Email

@{
    ViewBag.Title = "Delete Email";
}

<h2>Delete Email</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Email</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WorkCenter.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkCenter.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Recipient)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Recipient)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RecipientEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecipientEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Delay)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Delay)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Interval)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Interval)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Down)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Down)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Availablilty)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Availablilty)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Performance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Performance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quality)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quality)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OEE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OEE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Scrap)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Scrap)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
