﻿@model ProAlert.Andon.Service.Models.Email

@{
    ViewBag.Title = "Email Details";
}

<h2>Email Details</h2>

<fieldset>
    <legend>Email</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WorkCenter.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkCenter.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Recipient)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Recipient)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RecipientEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecipientEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Delay)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Delay)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Interval)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Interval)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Down)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Down)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Availablilty)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Availablilty)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Performance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Performance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quality)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quality)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OEE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OEE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Scrap)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Scrap)
    </div>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.SetupExceeded)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SetupExceeded)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
