﻿@model ProAlert.Andon.Service.Models.Email

@{
    ViewBag.Title = "Edit Email";
}

<h2>Edit Email</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Email</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.WorkCenterID, "WorkCenter")
        </div>
        <div class="editor-field">
            @Html.DropDownList("WorkCenterID", string.Empty)
            @Html.ValidationMessageFor(model => model.WorkCenterID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Recipient)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Recipient)
            @Html.ValidationMessageFor(model => model.Recipient)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RecipientEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RecipientEmail)
            @Html.ValidationMessageFor(model => model.RecipientEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Delay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Delay)
            @Html.ValidationMessageFor(model => model.Delay)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Interval)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Interval)
            @Html.ValidationMessageFor(model => model.Interval)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Down)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Down)
            @Html.ValidationMessageFor(model => model.Down)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Availablilty)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Availablilty)
            @Html.ValidationMessageFor(model => model.Availablilty)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Performance)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Performance)
            @Html.ValidationMessageFor(model => model.Performance)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quality)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quality)
            @Html.ValidationMessageFor(model => model.Quality)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OEE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OEE)
            @Html.ValidationMessageFor(model => model.OEE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Scrap)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Scrap)
            @Html.ValidationMessageFor(model => model.Scrap)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.SetupExceeded)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SetupExceeded)
            @Html.ValidationMessageFor(model => model.SetupExceeded)
        </div>

        <div style="float: left; clear: both">
            <input type="submit" value="Save" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
