﻿@model ProAlert.Andon.Service.Models.Issue

@{
    ViewBag.Title = "Issue Details";
}

<h2>Issue Details</h2>

<fieldset>
    <legend>Issue</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

@*    <div class="display-label">
        @Html.DisplayNameFor(model => model.Material)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Material)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Manufacturing)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Manufacturing)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Rework)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rework)
    </div>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.DT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DT)
    </div>*@

    @*<div class="display-label">
        @Html.DisplayNameFor(model => model.SubCategory.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubCategory.Name)
    </div>*@
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
