﻿@model IEnumerable<ProAlert.Andon.Service.Models.Issue>

<style>
    th {
        padding: 5px;
    }
</style>
@{
    ViewBag.Title = "Issues Index";
}

<h2>Issues Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
@*        <th>
        @Html.DisplayNameFor(model => model.Material)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Manufacturing)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Rework)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.DT)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.SubCategory.Name)
    </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
@*        <td>
        @Html.DisplayFor(modelItem => item.Material)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Manufacturing)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Rework)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SubCategory.Name)
    </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
